@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models;

<h2>Stylist Details</h2>
<hr />
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <h1>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h1>
  </li>
  <li class="list-group-item">
    <h1>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h1>
    <h2>List of clients </h2>
    @foreach (Client client in Model.Clients)
    {
    <li class="list-group-item">@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })
    </li>
    }
  </li>
</ul>
<div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
  @Html.ActionLink("Edit stylist", "Edit", new { id = Model.StylistId } , new {@class="btn btn-outline-secondary"})
  @Html.ActionLink("Delete stylist", "Delete", new { id = Model.StylistId } , new {@class="btn btn-outline-secondary"})
  @Html.ActionLink("Back to list", "Index", new { } , new {@class="btn btn-outline-secondary"})
</div>