@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>
@using (Html.BeginForm())
{
  <div class="mb-3">@Html.LabelFor(model => model.Name, new {@class="form-label"})
    @Html.TextBoxFor(model => model.Name, new {@class="form-control"})</div>
  <div class="mb-3">@Html.LabelFor(model => model.Details, new {@class="form-label"})
    @Html.TextBoxFor(model => model.Details, new {@class="form-control"})</div>
  <div class="mb-3">@Html.LabelFor(model => model.Stylist, new {@class="form-label"})
    @Html.DropDownList("StylistId")</div>


  <input type="submit" value="Add new client" class="btn btn-primary" />
}
<div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
  @Html.ActionLink("Show all clients", "Index", new { } , new {@class="btn btn-outline-secondary"})
</div>