@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>

<h4>Edit this client: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> @Html.HiddenFor(model => model.ClientId)</li>
    <li class="list-group-item"> @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)</li>
    <li class="list-group-item"> @Html.LabelFor(model => model.Details)
      @Html.EditorFor(model => model.Details)</li>
    <li class="list-group-item"> @Html.LabelFor(model => model.Stylist)
      @Html.DropDownList("StylistId")</li>
  </ul>


  <input type="submit" value="Save" />
}
<div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
  @Html.ActionLink("Back to list", "Index", new { } , new {@class="btn btn-outline-secondary"})
</div>